<strong>Editing Book</strong>

<%= form_with model: @book, url:'/todolists', local:true do |f| %>
<div>
   <label for=book_title>Title</label>
    <%= f.text_field :title %>
</div>
<div>
    <label for=book_body>Body</label>
    <%= f.text_area :body %>
</div>
<div>
    <%= f.submit 'Update book' %>
</div>

<%= link_to "Show", todolist_path(@book.id)  %>
|
<%= link_to "Back", "/todolists" %>

<% end %>